/*
www.devsaran.com
*/

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);



/* Typography
================================================== */



p img {
  margin: 0;
}



hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

p a, p a:visited {
  line-height: inherit;
}



p a, p a:visited {
  line-height: inherit;
}





/* Layout */

#primary, #sidebar{
  padding-top: 20px;
  padding-bottom: 20px;
}

#main-content {
  padding-top: 15px;
}

/* Slider */
#preface-area {
  background: none repeat scroll 0 0 #ED564B;
  border-bottom: 5px solid #F96B61;
  border-top: 5px solid #F96B61;
  padding: 40px 0 20px;
}

.preface-block{
  color: #fff;
  text-align: center;
}


.preface-block .block > h2{
  font-size: 24px;
  font-weight: bold;
}

.preface-block .block, .footer-block .block, .region-footer .block, .region-header .block, .region-content-top .block {
  margin-bottom: 30px;
}



/*-------------------------------------------*
/* Fix CKEditor style
/*-------------------------------------------*/
#content table.cke_editor {
  background: transparent;
  border: 0;
}
#content table.cke_editor td {
  background: transparent;
  padding: 0;
  border: 0;
}



/*-------------------------------------------*
/*  and item lists
/*-------------------------------------------*/
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}



ul.inline {
  clear: both;
}

ul.inline li {
  display: inline;
  list-style: none;
  margin: 0 2px;
  padding: 0;
}






