/*

  Content


*/


/* Poll
================================*/
.poll {

  .vote-form 

    .choices {
      margin: 0;

       .title {
        font-size: 14px;
        font-weight: normal;
        line-height: 2;
      }

      .form-item label {
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
}


/* Profile 
=================================*/
.profile {
  margin: 1.5385em 0;

  dd {
    margin-bottom: 1.5385em;
  }

  h3 {
    border: none;
  }

  dt {
    margin-bottom: 0;
  }

  .password-parent {
    width: 36em;
  }
}


/* Forum
===============================*/
#forum  {

  .title {
    font-size: 16px;
  }

  .submitted {
    font-size: 12px;
    font-family: Lucida Grande, Verdana, Arial, sans-serif;
    background: transparent;
    padding: 0;
  }

  .container {
    background: #a1a1a1;
    color: #fff;

    a {
      color: #000;
      font-weight: bold;
    }
  }

  div.indent {
    margin-left: 2px;
  }

  th {
    background: #434343;
    text-shadow: none;
    color: #fff;

    a {
      color: #fff;
    }
  }

  td.forum .icon  {
    background: url(images/no-new-posts.png) no-repeat;
    width: 35px;
    height: 35px;
  }

  .icon div:extend(#forum td.forum .icon) {}

  .name a {
    font-size: 16px;
  }
}

.forum-starter-picture {
  float: left;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin: 5px 7px 5px 0;
}


/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/
.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}

ul.primary li {
  display: inline;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}

ul.primary li a:hover, ul.primary li a.is-active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  display: inline;
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.is-active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

ul.inline, ul.links.inline {
  margin-left: 0;
}