/*

  Content


*/


/* Poll
================================*/
.poll {

  .vote-form {

    .choices {
      margin: 0;

       .title {
        font-size: 14px;
        font-weight: normal;
        line-height: 2;
      }

      .form-item label {
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
}


/* Profile 
=================================*/
.profile {
  margin: 1.5385em 0;

  dd {
    margin-bottom: 1.5385em;
  }

  h3 {
    border: none;
  }

  dt {
    margin-bottom: 0;
  }

  .password-parent {
    width: 36em;
  }
}


/* Forum
===============================*/
#forum  {

  .title {
    font-size: 16px;
  }

  .submitted {
    font-size: 12px;
    font-family: Lucida Grande, Verdana, Arial, sans-serif;
    background: transparent;
    padding: 0;
  }

  .container {
    background: #a1a1a1;
    color: #fff;

    a {
      color: #000;
      font-weight: bold;
    }
  }

  div.indent {
    margin-left: 2px;
  }

  th {
    background: #434343;
    text-shadow: none;
    color: #fff;

    a {
      color: #fff;
    }
  }

  td.forum .icon  {
    background: url(images/no-new-posts.png) no-repeat;
    width: 35px;
    height: 35px;
  }

  .icon div:extend(#forum td.forum .icon) {}

  .name a {
    font-size: 16px;
  }
}

.forum-starter-picture {
  float: left;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin: 5px 7px 5px 0;
}


/* Admin tabs
================================== */
.tabs-wrapper {
  position: fixed;
  top: 40%;
  left: -130px; 
  background: @navbar-bg;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  .transition(all 1s);
  z-index: 1000;
  width: 130px;

  &:hover{
    left: 0;
  }

  &:hover:after {
    content: '\f100';
  }

  &:after {
    width: 20px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: -20px;
    margin-top: -20px;
    background: @navbar-bg;
    content: '\f101';
    display: block;
    font-family: @icon-font;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    line-height: 40px;
  }

  ul.tabs {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 2px 0;
      margin: 0;
      list-style: none;

      a {
        color: #ffffff;

        &:hover {
          color: @logo-title;
        }
      }
    }
  }
}


/* Meta
============================== */
.meta {
  margin: 5px 0 10px 0;

  a {
    color: #999;
  
    &:hover {
      color: #000;
    }
  }

  li {
    display: inline;
    margin-right: 5px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      background: none;
    }
  }

  strong{
    font-weight: 600;
    color: #111;
  }
}















