/*

  Footer styles

*/

/*  Footer
=========================*/
.site-footer {
  padding: 20px 0;
  background: @footer-bg;
  line-height: 40px;
}


/* Bottom region 
=========================*/
#bottom {
  padding: 20px 0px 40px 0px;
  background: @bottom-region-bg;
  border-top: 5px solid @link;
}


/* Copyright block 
===========================*/
#block-onescreen-powered {

  span {
    font-weight: 500;
  }
}