// out: false

/*

  Overides

*/

.navbar {
  margin-bottom: 0;
}

#toolbar-administration {
  display: none;
}

.links,
.menu,
.slides,
.flex-direction-nav {

  li {

    &:before {
      display: none;
    }
  }
}
