/*

  Variables

*/

/* Colors
====================================*/
@main-text: #606060;
@link: #f4473a;
@link-hover: #000000;
@link-link: #000000;
@blockquote-color: #000000;

/* Fonts
====================================*/
@main-font: 'Open Sans', sans-serif;

/* Config
======================================*/
@header-bar-height: 60px;
