/*

  Variables

*/

/* Colors
====================================*/
@main-text: #606060;
@link: #f4473a;
@link-hover: #000000;
@blockquote-color: #000000;

/* Fonts
====================================*/

